:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --gray-900: #5a5c69;
  --gray-800: #858796;
  --gray-500: #f9f8fc;
  --gray-100: #f8f9fc;

  --cian: #36b9cc;
  --blue: #4e73df;
  --green: #1cc88a;
  --red: #e74a3b;
}

@import 'bootstrap/dist/css/bootstrap.min.css';